.diaporama{
    height: calc(75vw * 1280 / 1920);
    width: 75vw;
    max-height: calc(960px * 1280 / 1920);
    max-width: 960px;

    margin: 30px auto 0;
    border: 10px solid white;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
    background: black;
    position: relative;
}

.diaporama .big img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s 0s ease;


}
.diaporama img.visible {
    opacity: 1;    
    transition: opacity 0.5s 0s ease;
}
.btnbtn{
text-align: center;
margin-top: 1rem;
}
.minidiapo img{
    width: 200px;
    z-index: 1;
    position:relative
}
