*{
    padding: 0;
    margin: 0;
}

.toast{
    border:  3px solid black;
    background: rgb(100 150 150);
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3rem;
}