body{
    background: rgb(122, 184, 243);
color: white;
}
.container{
    background: rgb(16, 134, 245);
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
}
h1{
    background: rgb(243, 47, 80);
    color: white;
    display: inline-block;
}
a,.qname{
    color: black;
}

img{
    width: 60%;
    margin: 0 auto;
  }

figcaption{
    text-transform:uppercase;
}
figure{
    margin: 5rem auto;
    text-align: center;
}



